#viz {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.silo {
  width: 80px;
  height: 200px;
  border: 3px solid #333;
  border-radius: 40px 40px 10px 10px;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}

.fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: steelblue;
  transition: height 0.5s;
}
